  <h1 style="background: rgb(192,192,192);">Continuous Automatic Builder</h1>
  
    <table border="1" cellspacing="0" cellpadding="2">
      <tr>
        <th align=right>Status:</th><td>[% IF status == 'success' %]<font color="Green"
>Good</font>[% ELSE %]<font color="red">Bad</font>[% END %]</td>
      </tr>
      <tr>
        <th align=right>Date:</th><td>[% date %]</td>
      </tr>
      <tr>
        <th align=right>Time:</th><td>[% time %]</td>
      </tr>
      <tr>
        <th align=right>Cycle Time:</th><td>[% cycleTime %]</td>
      </tr>
      <tr>
        <th align="right">Build Counter:</th><td>[% buildCounter %]</td>
      </tr>
    </table>

    <p>
    [% IF name == "index-module" %]
    <strong>View by Module Name</strong>
    [% ELSE %]
    <a href="index-module.html">View by Module Name</a>
    [% END %]
    |
    [% IF name == "index-group" %]
    <strong>View by Group</strong>
    [% ELSE %]
    <a href="index.html">View by Group</a>
    [% END %]
    |
    [% IF name == "index-repo" %]
    <strong>View by Code Repository</strong>
    [% ELSE %]
    <a href="index-repository.html">View by Code Repository</a>
    [% END %]
    [% IF name == "index-iso" %]
    <strong>View ISO Images</strong>
    [% ELSE %]
    <a href="index-iso.html">View ISO Images</a>
    [% END %]
    </p>
